<!-- application/templates/admin/users/users.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block body %}
    <div class="container">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Users</h1>
        <hr class="intro-divider">

        {% if users %}
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr class="thead-dark">
                        <th width="30%">Name</th>
                        <th width="20%">Group</th>
                        <th width="20%">Role</th>
                        <th width="15%">Edit</th>
                        <th width="15%">Delete</th>
                    </tr>
                    </thead>
                    <tbody class="bg-dark">
                    {% for user in users %}
                        <tr>
                            <td> {{ user.first_name }} {{ user.last_name }} </td>
                            <td>
                                {% if user.group_name %}
                                    {{ user.group_name }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if user.role_name %}
                                    {{ user.role_name }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            {% if user.is_admin %}
                                <td>-</td>
                                <td>-</td>
                            {% else %}
                                <td><a href="{{ url_for('admin.assign_user', id=user.id) }}">
                                        <i class="fas fa-user-edit"></i></a></td>
                                <td><a href="{{ url_for('admin.delete_user', id=user.id) }}">
                                        <i class="fas fa-user-times"></i></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <a href="{{ url_for('auth.register') }}" class="btn btn-default btn-lg">
            <i class="fas fa-plus"></i>
            <span class="text-white">Add User</span>
        </a>
    </div>
{% endblock %}